{% extends 'base.html.twig' %}
{% block title %}Category index{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>


    {% if categories is defined %}
    <ul>
        {% for category in categories %}
            <li>
                {%  if vich_uploader_asset(category.category, "imageFile") is not null %}
                    <img src="{{ vich_uploader_asset(category.category, "imageFile") | imagine_filter('small')}}" alt="{{ category.category.name }}"/>
                {%  endif %}
                <span class="content">{{ category.category.name }}</span>
                <span class="meta">
                --<a href="{{  path('category_show', {'id': category.category.id}) }}"> Utiliser par {{ category.nb }} quotes</a>

                    {% if is_granted('ROLE_ADMIN') %}
                |
                <a style="border: #565656 solid 1px; padding: 3px; color: #565656"
                   href="{{ path('category_edit', {'id' : category.category.id}) }}">Modifier</a>
                |
                        {{ include('category/_delete_form.html.twig') }}
                    {% endif %}
                </span>
            </li>

        {% endfor %}
    </ul>

    {% else %}

    <div>Pas de catégorie trouver.</div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <a style="border: dodgerblue solid 1px; padding: 3px; color: dodgerblue"
       href="{{ path('category_new') }}">Créer nouvelle catégorie</a>
    {% endif %}
{% endblock %}

