{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category: {{ category.name }}</h1>


    <ul>

    {% for quote in quotes %}
        <li>
            <span class="content">{{ quote.content }}</span>
            <span class="meta">
            --{{ quote.meta }}
        </span>
        </li>
    {%  endfor  %}

    </ul>

    <a href="{{ path('category_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        |
    <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>

    {{ include('category/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
