{%  extends "base.html.twig" %}

{% block body %}

    <h1>Liste des citations</h1>

    <ul>

    {% for quote in quotes %}
    <li>
        <span class="content">{{ quote.content }}</span>
        <span class="meta">
            --{{ quote.meta }}
            <a href="{{ path('quote_modifier', {'id' : quote.id}) }}">Modifier</a>
            |
            <a href="{{ path('quote_supprimer', {'id' : quote.id}) }}">Supprimer</a>
            |
            <a href="{{ path('category_show', {'id' : quote.category.id}) }}">Du même genre..</a>

        </span>
    </li>
    {%  endfor  %}

    </ul>




{% endblock %}