{%  extends "base.html.twig" %}
{% block body %}

    <h1>Liste des citations
        <span style="font-size: 20px; color: grey"> ({{ pagination.getTotalItemCount }})</span>
    </h1>

    <ul>

    {% for quote in pagination.items %}
    <li>
        <span class="content">{{ quote.content }}</span>

        <span class="meta">
            --{{ quote.meta }}

            {% if is_granted('QUOTE_EDIT', quote) %}
            <a style="border: #565656 solid 1px; padding: 3px; color: #565656"
               href="{{ path('quote_modifier', {'id' : quote.id}) }}">Modifier</a>
            |
            <a style="border: #B0413E solid 1px; padding: 3px; color: #B0413E"
               href="{{ path('quote_supprimer', {'id' : quote.id}) }}">Supprimer</a>

            {% endif %}
            |
            Proposé par <a href="{{ path('user_show', {'id' : quote.author.id}) }}">{{ quote.author.name }}</a>
            le {{ quote.creationDate|date("m/d/Y") }}
            |
            {% if quote.category %}
                <a class="badge badge-primary"
                   href="{{ path('category_show', {'id' : quote.category.id}) }}">{{quote.category.name}}</a>
            {% endif %}

        </span>

    </li>
    {%  endfor  %}

    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


{% endblock %}