{%  extends "base.html.twig" %}
{% block body %}

    <h1>Citation aléatoire</h1>

    <ul>
        <li>
            <span class="content">{{ quote.content }}</span>

            <span class="meta">
            --{{ quote.meta }}

                {% if is_granted('QUOTE_EDIT', quote) %}
                    <a style="border: #565656 solid 1px; padding: 3px; color: #565656"
                       href="{{ path('quote_modifier', {'id' : quote.id}) }}">Modifier</a>
                    |
                    <a style="border: #B0413E solid 1px; padding: 3px; color: #B0413E"
               href="{{ path('quote_supprimer', {'id' : quote.id}) }}">Supprimer</a>
                {% endif %}
                |
                by {{ quote.author.name }}
                |
                {% if quote.category %}
                    <a class="badge badge-primary"
                       href="{{ path('category_show', {'slug' : quote.category.slug}) }}">{{quote.category.name}}</a>
                {% endif %}
        </span>

        </li>
    </ul>

{% endblock %}