<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quote Machine{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
            <script>$(document).ready(function () {
                    bsCustomFileInput.init()
                })</script>
            {{ encore_entry_script_tags('app') }}
        {%  endblock %}
    </head>
    <body class="ml-3">

    {% set theme = '#f0f0f0' %}
    {% if is_granted('ROLE_USER') %}
        {% set theme = '#c8eafa' %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set theme = '#eaf0df' %}
    {% endif %}

    <nav class="navbar navbar-expand-lg mb-3 navbar-light " style="background-color: {{ theme }}">

        <a href="{{  path('quote_index') }}" class="navbar-brand">Quote Machine</a>
        |
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                     <a class="nav-link" href="{{  path('quote_index') }}">Liste quotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  path('quote_random') }}">Citation aléatoire</a>
                </li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                   <a class="nav-link" href="{{  path('quote_ajouter') }}">Ajouter quote</a>
                </li>
                {% endif %}

                <li class="nav-item">
                      <a class="nav-link" href="{{  path('category_index') }}">Liste catégories</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                     <a class="nav-link" href="{{  path('category_new') }}">Ajouter catégorie</a>
                </li>
                {% endif %}

            </ul>
        </div>

        <form class="form-inline" method="GET">
            <label>
                <input class="inputSearch" name="research" type="text" value="{{ app.request.query.get('research', '') }}">
            </label>
            <button class="btn btn-secondary" type="submit">Rechercher</button>
        </form>

        <div>
            <ul class="navbar-nav mr-auto">

                {% if app.user %}

                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('user_show', {'id' : app.user.id}) }}">{{ app.user.name }}</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">S'enregistrer</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
