{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil de: {{ user.name }}</h1>
    <div class="ExperienceUser">
        <div class="UserLevel">Niveau <span>{{ user.userLevel }} </span></div>
        <span>Prochain niveau :</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ user.progressLevel }}" style="width: {{ user.progressLevel }}%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div>Experience: {{ user.experience }} </div>
        <div>Progress: {{ user.progressLevel }} %</div>
    </div>
    <div>Membre de l'application depuis le {{ user.registrationDate|date("F jS \\a\\t g:ia") }}</div>
    <div class="fiveLatestQuotes">
        <h2><i>Les 5 dernières quotes de {{ user.name }}:</i></h2>

        <ul>
            {% for quote in quotes %}
                <li>
                    <span class="content">{{ quote.content }}</span>

                    <span class="meta">
            --{{ quote.meta }}

                        {% if is_granted('QUOTE_EDIT', quote) %}
                            <a style="border: #565656 solid 1px; padding: 3px; color: #565656"
                               href="{{ path('quote_modifier', {'id' : quote.id}) }}">Modifier</a>
            |
            <a style="border: #B0413E solid 1px; padding: 3px; color: #B0413E"
               href="{{ path('quote_supprimer', {'id' : quote.id}) }}">Supprimer</a>

                        {% endif %}
            {% if quote.category %}
                <a class="badge badge-primary"
                   href="{{ path('category_show', {'slug' : quote.category.slug}) }}">{{quote.category.name}}</a>
            {% endif %}

        </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
